body {
    background-color: powderblue;
}
h1 {
    color: blue;
    border: 25px solid black;
    padding: 30px;
    text-align: center;
}
h2 {
    color: red;
    border: 3px solid black;
    padding: 30px;
    text-align: center;
}
p {
    color: green;
    border: 2px solid black;
    text-align: center; 
    font-weight:bold;
}
nav {
    text-align: center;
    font-weight:bold;
}
form {
    text-align: center;
   font-weight:bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: powderblue;
}
li {
  float: left;
    border-right: 1px solid #bbb;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
