body {
    background-color: powderblue;
}
h1 {
    color: blue;
    border: 25px solid black;
    padding: 30px;
    text-align: center;
}
h2 {
    color: red;
    border: 3px solid black;
    padding: 30px;
    text-align: center;
}
p {
    color: green;
    border: 2px solid black;
    text-align: center; 
    font-weight:bold;
}
nav {
    text-align: center;
    font-weight:bold;
}
form {
    text-align: center;
   font-weight:bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
    font-weight:bold;
}
li {
  float: left;
    border-right: 3px solid white;
    font-weight:bold;
}
li a {
  display: block;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    font-weight:bold;
}
li a:hover {
  background-color: purple;
    font-weight:bold;
}
div.gallery {
  margin: 5px;
  border: 1px solid black;
  float: left;
  width: 180px;
}
div.gallery:hover {
  border: 15px solid black;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
    font-weight:bold;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: powderblue;
   color: Blue;
   text-align: center;
    font-weight:bold;
}
